MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/lms_db?retryWrites=true&w=majority
JWT_SECRET_KEY=change-this-to-a-very-long-random-secret
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
ADMIN_EMAIL=admin@yourdomain.com
ADMIN_PASSWORD=YourStrongPassword123
